<ion-view title="Actors">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <section class="container">
      <article ng-repeat="actor in actors" href="/app/actors/{{actor._id}}/{{actor.slug}}">
        <a href="/app/actors/{{actor._id}}/{{actor.slug}}">
          <figure>
            <img ng-src="http://image.tmdb.org/t/p/w342{{actor.portrait}}" alt="{{actor.name}}">
            <figcaption></figcaption>
          </figure>
          <h3>{{actor.name}}</h3>
        </a>
      </article>
    </section>
  </ion-content>
</ion-view>
